[alias]
	aliases=!git config -l | grep '^alias' | cut -c 7- | sort
	aa = add -A .
	b  = branch
	st = status
	cheddar = commit --amend -CHEAD
	ci = commit
	co = checkout
	cp = cherry-pick
	put = push origin HEAD
	find = !sh -c 'git ls-files | grep --color=always -i "$@" | less -FRSX' -
	fixup = commit --fixup
	squash = commit --squash
	doff = reset HEAD^
	ri = rebase --interactive
	br = branch
	pruneremote = remote prune origin
	tree = log --graph --oneline --decorate --color --all
	tr = log --graph --oneline --decorate --color
	add-untracked = !"git status --porcelain | awk '/\\?\\?/{ print $2 }' | xargs git add"
	reset-authors = commit --amend --reset-author -CHEAD
	rmbranch = "!f(){ git branch -d ${1} && git push origin --delete ${1}; };f"
        snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
	recent = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/ # https://twitter.com/djm_/status/961289486721339392
[branch]
	autosetuprebase = always
[color]
	ui = true
[core]
	excludesfile = ~/.cvsignore
	editor = vim
	whitespace = cr-at-eol
	hooksPath = ~/.git/hooks
	pager = diff-so-fancy | less --tabs=4 -RFX
[help]
	autocorrect = 10
[merge]
	summary = true
[merge "bundlelock"]
	name = lock Gemfile
	driver = bundle install
[merge "bundle"]
	name = bundle
	driver = bundle
[push]
	default = tracking
[rebase]
	autosquash = true
[diff]
	algorithm = patience
[include]
	path = ~/.gitconfig.local
[fetch]
	prune = true
	pruneTags = true
[add]
	patch = true
[commit]
	verbose = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 204
	newNormal = green bold
	newHighlight = green bold 155
[color "diff"]
	meta = 177
	frag = 93
	func = 81
	commit = 20
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
	stripLeadingSymbols = false
