[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:rcmoret/neovim_config.git
